<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
   <h1>New Message</h1> 
   <form method="POST" action="/new">
        <label>Author's Name:</label>
        <input type="text" name="author" placeholder="Author's name" /> <br />
        <label>Message text:</label>
        <textarea type="text" name="messageText" placeholder="Message" rows="10"></textarea> <br />
        <button class="form-btn">Submit</button>
 </form>
</body>
</html>